# Pandas and NumPy Fundamentals

## Exploring Data with pandas: Intermediate

The table below summarizes how we can use DataFrame.iloc[] and Series.iloc[] to select by integer position:

| Select by integer position      	| Explicit Syntax    	| Shorthand Convention 	|
|---------------------------------	|--------------------	|----------------------	|
| Single column from dataframe    	| df.iloc[:,3]       	|                      	|
| List of columns from dataframe  	| df.iloc[:,[3,5,6]] 	|                      	|
| Slice of columns from dataframe 	| df.iloc[:,3:7]     	|                      	|
| Single row from dataframe       	| df.iloc[20]        	|                      	|
| List of rows from dataframe     	| df.iloc[[0,3,8]]   	|                      	|
| Slice of rows from dataframe    	| df.iloc[3:5]       	| df[3:5]              	|
| Single items from series        	| s.iloc[8]          	| s[8]                 	|
| List of item from series        	| s.iloc[[2,8,1]]    	| s[[2,8,1]]           	|
| Slice of items from series      	| s.iloc[5:10]       	| s[5:10]              	|

In this mission, we learned how to:

- Select columns, rows and individual items using their integer location.
- Use pd.read_csv() to read CSV files in pandas.
- Work with integer axis labels.
- How to use pandas methods to produce boolean arrays.
- Use boolean operators to combine boolean comparisons to perform more complex analysis.
- Use index labels to align data.
- Use aggregation to perform advanced analysis using loops.

In the next mission, we'll learn techniques to use when performing data cleaning to prepare a messy data set.

### Introduction
We've already read the data set into a pandas dataframe and assigned it to a variable named f500. We also replaced all 0 values in the previous_rank column with NaN, like we did in the previous mission.

1. Select the rank, revenues, and revenue_change columns in f500. Then, use the DataFrame.head() method to select the first five rows. Assign the result to f500_selection.
2. Use the variable inspector to view f500_selection. Compare the results to the first few lines of our CSV file above.
3. Take a look at the documentation for the pandas.read_csv() function to try to understand the results. If you have trouble understanding, don't worry! We'll explain the results on the next screen.

In [1]:
import pandas as pd
import numpy as np
# read the data set into a pandas dataframe
f500 = pd.read_csv("../f500.csv", index_col=0)
f500.index.name = None

# replace 0 values in the "previous_rank" column with NaN
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

In [3]:
f500_selection = f500[["rank", "revenues", "revenue_change"]].head()

### Reading CSV files with pandas
1. Use the `pandas.read_csv()` function to read the `f500.csv` CSV file as a pandas dataframe. Assign it to the variable name f500. Do not use the `index_col` parameter. 
2. Use the code below to insert the NaN values into the `previous_rank` column: `f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan`

In [4]:
f500 = pd.read_csv("../f500.csv")
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

48     False
90     False
123    False
138    False
140    False
180    False
267    False
271    False
341    False
375    False
376    False
392    False
409    False
414    False
431    False
440    False
441    False
446    False
456    False
458    False
461    False
463    False
466    False
472    False
477    False
482    False
484    False
487    False
491    False
493    False
494    False
495    False
499    False
Name: previous_rank, dtype: bool

### Using iloc to select by integer position
1. Select just the fifth row of the f500 dataframe. Assign the result to fifth_row.
2. Select the value in first row of the company column. Assign the result to company_value.

In [6]:
fifth_row = f500.iloc[4]
company_value = f500.iloc[0, 0]

### Using iloc to select by integer position continued
1. Select the first three rows of the f500 dataframe. Assign the result to first_three_rows.
2. Select the first and seventh rows and the first five columns of the f500 dataframe. Assign the result to first_seventh_row_slice.
3. After running your code, use the variable inspector to examine each of the objects you created.

In [ ]:
first_three_rows = f500.iloc[:3]
first_seventh_row_slice = f500.iloc[[0, 6], :5]

### Using pandas methods to create boolean masks
1. Use the Series.isnull() method to select all rows from f500 that have a null value for the previous_rank column. Select only the company, rank, and previous_rank columns. Assign the result to null_previous_rank.

In [7]:
null_previous_rank = f500[f500["previous_rank"].isnull()][["company", "rank", "previous_rank"]]

### Working with Integer Labels
1. Assign the first five rows of the null_previous_rank dataframe to the variable top5_null_prev_rank by choosing the correct method out of either loc[] or iloc[].

In [8]:
top5_null_prev_rank = null_previous_rank.iloc[:5]

### Pandas Index Alignment
1. Use the Series.notnull() method to select all rows from f500 that have a non-null value for the previous_rank column. Assign the result to previously_ranked
2. From the previously_ranked dataframe, subtract the rank column from the previous_rank column. Assign the result to rank_change.
3. Assign the values in the rank_change to a new column in the f500 dataframe, "rank_change".
4. Once you have run your code, use the variable inspector to look at the f500 dataframe and observe how the new column aligns with the existing data.

In [10]:
previously_ranked = f500[f500["previous_rank"].notnull()]
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]
f500["rank_change"] = rank_change

### Using Boolean Operators
1. Select all companies with revenues over 100 billion and negative profits from the f500 dataframe. The result should include all columns.
    - Create a boolean array that selects the companies with revenues greater than 100 billion. Assign the result to large_revenue.
    - Create a boolean array that selects the companies with profits less than 0. Assign the result to negative_profits.
    - Combine large_revenue and negative_profits. Assign the result to combined.
    - Use combined to filter f500. Assign the result to big_rev_neg_profit.

In [11]:
big_rev_neg_profit = f500[(f500["revenues"] > 100000) & (f500["profits"] < 0)]

### Using Boolean Operators Continued
1. Select all rows for companies whose country value is either Brazil or Venezuela. Assign the result to brazil_venezuela.
2. Select the first five companies in the Technology sector for which the country is not the USA from the f500 dataframe. Assign the result to tech_outside_usa.

In [ ]:
brazil_venezuela = f500[(f500["country"] == "Brazil") | (f500["country"] == "Venezuela")]
tech_outside_usa = f500[(f500["country"] != "USA") & (f500["sector"] == "Technology")].head()

### Sorting Values
1. Find the company headquartered in Japan with the largest number of employees.
    - Select only the rows that have a country name equal to Japan.
    - Use DataFrame.sort_values() to sort those rows by the employees column in descending order.
    - Use DataFrame.iloc[] to select the first row from the sorted dataframe.
    - Extract the company name from the index label company from the first row. Assign the result to top_japanese_employer.
2. After running your code, use the variable inspector to view the top employer for Japan.

In [ ]:
top_japanese_employer = f500[f500["country"] == "Japan"].sort_values(by="employees", ascending=False).iloc[0]["company"]

### Using Loops with pandas
In this exercise, we're going to produce the following dictionary of the top employer in each country:

``` 
{'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Brazil': 'JBS',
 ...
 'U.A.E': 'Emirates Group',
 'USA': 'Walmart',
 'Venezuela': 'Mercantil Servicios Financieros'} ```
    
1. Create an empty dictionary, top_employer_by_country to store the results of the exercise.
2. Use the Series.unique() method to create an array of unique values from the country column.
3. Use a for loop to iterate over the array unique countries. In each iteration:
    - Select only the rows that have a country name equal to the current iteration.
    - Use DataFrame.sort_values() to sort those rows by the employees column in descending order.
    - Select the first row from the sorted dataframe.
    - Extract the company name from the index label company from the first row.
    - Assign the results to the top_employer_by_country dictionary, using the country name as the key, and the company name as the value.
4. After running your code, use the variable inspector to view the top employer for each country.

In [ ]:
top_employer_by_country = {}

for country in f500["country"].unique():
    selected_row = f500[f500["country"] == country]
    company_name = selected_row.sort_values(by="employees", ascending=False).iloc[0]["company"]
    top_employer_by_country[country] = company_name

### Challenge: Calculating Return on Assets by Country
1. Create a new column roa in the f500 dataframe, containing the return on assets metric for each company.
2. Aggregate the data by the sector column, and create a dictionary top_roa_by_sector, with:
    - Dictionary keys with the sector name.
    - Dictionary values with the company name with the highest ROA value from that sector.

In [ ]:
top_roa_by_sector = {}
f500["roa"] = f500["profits"] / f500["assets"]

lst_sector = f500["sector"].unique()

for sector in lst_sector:
    selected_row = f500[f500["sector"] == sector]
    company = selected_row.sort_values(by="roa", ascending=False).iloc[0]["company"]
    top_roa_by_sector[sector] = company
    
top_roa_by_sector

top_roa_by_sector = {}
f500["roa"] = f500["profits"] / f500["assets"]

lst_sector = f500["sector"].unique()

for sector in lst_sector:
    selected_row = f500[f500["sector"] == sector]
    company = selected_row.sort_values(by="roa", ascending=False).iloc[0]["company"]
    top_roa_by_sector[sector] = company
    
top_roa_by_sector

In [14]:
top_japanese_employer = f500[f500["country"] == "Japan"].sort_values(by="employees", ascending=False).iloc[0]["company"]

### Using Loops with pandas
In this exercise, we're going to produce the following dictionary of the top employer in each country:

``` 
{'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Brazil': 'JBS',
 ...
 'U.A.E': 'Emirates Group',
 'USA': 'Walmart',
 'Venezuela': 'Mercantil Servicios Financieros'} ```
    
1. Create an empty dictionary, top_employer_by_country to store the results of the exercise.
2. Use the Series.unique() method to create an array of unique values from the country column.
3. Use a for loop to iterate over the array unique countries. In each iteration:
    - Select only the rows that have a country name equal to the current iteration.
    - Use DataFrame.sort_values() to sort those rows by the employees column in descending order.
    - Select the first row from the sorted dataframe.
    - Extract the company name from the index label company from the first row.
    - Assign the results to the top_employer_by_country dictionary, using the country name as the key, and the company name as the value.
4. After running your code, use the variable inspector to view the top employer for each country.

In [23]:
top_employer_by_country = {}

for country in f500["country"].unique():
    selected_row = f500[f500["country"] == country]
    company_name = selected_row.sort_values(by="employees", ascending=False).iloc[0]["company"]
    top_employer_by_country[country] = company_name

### Challenge: Calculating Return on Assets by Country
1. Create a new column roa in the f500 dataframe, containing the return on assets metric for each company.
2. Aggregate the data by the sector column, and create a dictionary top_roa_by_sector, with:
    - Dictionary keys with the sector name.
    - Dictionary values with the company name with the highest ROA value from that sector.

In [24]:
top_roa_by_sector = {}
f500["roa"] = f500["profits"] / f500["assets"]

lst_sector = f500["sector"].unique()

for sector in lst_sector:
    selected_row = f500[f500["sector"] == sector]
    company = selected_row.sort_values(by="roa", ascending=False).iloc[0]["company"]
    top_roa_by_sector[sector] = company
    
top_roa_by_sector

{'Retailing': 'H & M Hennes & Mauritz',
 'Energy': 'National Grid',
 'Motor Vehicles & Parts': 'Subaru',
 'Financials': 'Berkshire Hathaway',
 'Technology': 'Accenture',
 'Wholesalers': 'McKesson',
 'Health Care': 'Gilead Sciences',
 'Telecommunications': 'KDDI',
 'Engineering & Construction': 'Pacific Construction Group',
 'Industrials': '3M',
 'Food & Drug Stores': 'Publix Super Markets',
 'Aerospace & Defense': 'Lockheed Martin',
 'Food, Beverages & Tobacco': 'Philip Morris International',
 'Household Products': 'Unilever',
 'Transportation': 'Delta Air Lines',
 'Materials': 'CRH',
 'Chemicals': 'LyondellBasell Industries',
 'Media': 'Disney',
 'Apparel': 'Nike',
 'Hotels, Restaurants & Leisure': 'McDonald’s',
 'Business Services': 'Adecco Group'}